
.navbar {
    background-color: #20c997; 
}
.navbar i {
    color: #ffffff;  
}
.navbar a {
    color: white !important; 
}

table thead {
    background-color:#20c997; 
}
table thead a {
    color: white !important;
    font-weight: normal !important;
}
.brand-text {
    color: white !important; 
}
.fa-key{
    color: #343a40 !important;
}

.fa-users{
    color: #343a40 !important; 
}
.dropdown-item[href="/admin/password_change/"] {
    color: #343a40 !important;  
}

.dropdown-item.dropdown-footer[href="/admin/auth/user/1/change/"] {
    color: #343a40 !important; 
}

.card-custom-border {
    border: 5px solid #20c997; 
    border-radius: 10px;      
}

/* ESTILOS */

.custom-card-body {
    padding: 2rem; 
}
.input-group {
    display: flex; 
    align-items: center; 
    gap: 0; 
}
.input-group-text {
    background-color: #20c997;
    border-right: none !important; 
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    color: white;
}

input, select, textarea {
    flex: 1; 
    border: 1px solid #ccc;
    border-left: none; 
    padding: 0.5rem;
    border-radius: 0; 
    font-size: 0.875rem;
    color: #495057;
}

label {
    font-weight: bold; 
    margin-bottom: 0; 
    display: flex; 
    align-items: center; 
}

/* Estilos para el form de Pacientes */

.nav-tabs .nav-item {
    display: inline-block;
    margin-right: 15px;  
}

.nav-tabs .nav-link {
    font-size: 16px;
    padding: 12px 25px;
}
.tab-content {
    background-color: #f9f9f9;  
    border-top: 2px solid #20c997;
    padding: 30px;
}
.nav-tabs .nav-link.active {
    animation: pulse 0.3s ease-in-out;
}
.vIntegerField::placeholder {
    color: #444;
    font-size: 10px;
    font-style: italic;
}
#id_fc_actividad::placeholder {
    color: #444;
    font-style: italic;
    font-size: 9.7px;
}

