
#jazmin-site_brand {
    background: url('/static/images/logo.png') no-repeat center center;
    background-size: contain;
    height: 100px; 
    text-indent: -9999px;  
}

table thead th{
    background-color: #20c997; 
    color: white; 
  }

table thead span {
    color:rgb(221, 221, 221) !important; /* Tamaño de letra más grande */
    text-transform: uppercase; /* Letras en mayúsculas */
    font-size: 13px;
}

.card {
    background-color: #dce8eb;
}
.btn-primary {
    color: #fff;
    background-color: #17A2B8;
    border-color: #17A2B8;
}

.font-weight-light {
    font-weight: 700 !important;
}
.table thead th {
    color: #ffffff;
    border-bottom: 0;
}

